*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
   background-color :rgb(6, 5, 6);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 230px;
     box-shadow: 0px 0px 16px rgb(61, 58, 58);
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.timer{
    height: 140px;
    width: 400px;
    background-color: rgb(7, 7, 7);
    border-radius: 19px;
    color: aliceblue;
    font-size: 75px;
    margin-left: 40px;
   
   
}

.buttons{
    width: 400px;
    height: 35px;
    display: flex;
    justify-content : space-around;
     margin-bottom: 40px;
}
button{
    width: 79px;
    height: 45px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(247, 247, 243);
    cursor: pointer;
}

