*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom , rgb(111, 155, 218) , rgb(35, 20, 168) );
  color: white;
  font-weight: 300;
}

.container{
    border: 0.5px solid rgb(191, 196, 122) ;
    border-radius: 10px;
    padding : 25px;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 6px 6px 6px  rgb(191, 196, 122 , 0.7);
}

.container h1{
 font-size: 1.4rem;
 margin-block: 8px;
}
.Inputbox{
    position: relative;
    margin-left: 30px;
}
.Inputbox span{
    position : relative;
    top: 6px;
    right : 35px;
    font-size: 28px;
    color: rgb(62, 58, 58);
    cursor: pointer;
    z-index: 2;
}
.passbox{
width : 300px;
font-size: 25px;
margin-block: 8px;
background-color: #fff;
border: none;
outline: none;
border-radius: 4px;
padding: 10px;
text-align: center;
text-overflow: ellipsis;
}

.row{
    display: flex;
    margin-block: 8px;
}

.row p , .row label{
    flex-basis: 100%;
    font-size: 18px;
}

.row input[type = "checkbox"]{
    width: 20px;
    height: 20px;
}

.genBtn{
    border: none;
    outline: none;
    background: rgb(231, 65, 176);
    padding: 8px;
    color: #fff;
    font-size: 16px;
    margin-block: 8px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 4px;

}
.genBtn:hover{
background-color:  rgb(230, 29, 163);
}
